In [1]:
import pandas as pd
import numpy as np
import glob

pd.set_option('display.max_rows', 100)

In [2]:
# Tasks: check if sales are available for all products

In [3]:
def calculate_num_missing_sales_date(df_sku_store):
    """
    Args:
        df_sku_store (pd.DataFrame): the sales table of a sku only in one store
        
    Returns:
        int: the number of missing sales date for this sku
    """
    return pd.date_range(start=df_sku_store['sales_date'].min(), end=df_sku_store['sales_date'].max(), freq='1D').difference(df_sku_store['sales_date'].unique()).shape[0]

In [4]:
# df = pd.read_csv('POC1 to Vendor/sales_fact/beforeP1/*.csv')
df = pd.concat(map(pd.read_csv, glob.glob('POC1 to Vendor/sales_fact/beforeP1/*.csv')))
df['sales_date'] = pd.to_datetime(df['sales_date'], dayfirst=True)

In [5]:
df

,unique_id,sales_date,sales_time,store_id,item_code,channel,sales_amount,sales_quantity
0,2017-03-01_46_2_3978611,2017-03-01,30/12/1899 15:07:07,46,1900016,POS,34.58,1
1,2017-03-02_46_1_4435342,2017-03-02,30/12/1899 18:02:07,46,3002624,POS,20.56,1
2,2017-03-02_46_1_4434626,2017-03-02,30/12/1899 04:56:11,46,6007478,POS,20.56,1
3,2017-03-03_46_2_3980259,2017-03-03,30/12/1899 09:42:55,46,2105240,POS,39.25,1
4,2017-03-04_46_3_2682409,2017-03-04,30/12/1899 18:43:13,46,300008,POS,8.00,1
...,...,...,...,...,...,...,...,...
4018523,2017-08-30_8031_3_1682551,2017-08-30,30/12/1899 22:45:24,8031,1900044,POS,37.38,1
4018524,2017-08-31_8031_4_874886,2017-08-31,30/12/1899 20:38:40,8031,3000080,POS,14.02,1
4018525,2017-08-31_8031_1_1806459,2017-08-31,30/12/1899 21:09:03,8031,3100047,POS,14.02,1
4018526,2017-08-31_8031_3_1683337,2017-08-31,30/12/1899 22:06:36,8031,300177,POS,27.10,1
4018527,2017-08-31_8031_3_1682852,2017-08-31,30/12/1899 13:34:33,8031,2100274,POS,27.10,1

# Sales table doesn't show the dates where the sales quantity is 0

In [6]:
df['sales_quantity'].unique()

array([  1,   2,   3,   4,  10,   5,   6,   7,   8,   9,  11,  12,  13,
        14,  15,  16,  17,  20,  22,  25,  27,  30,  50,  80,  24,  35,
        40,  60,  18,  19,  21,  23,  37,  28,  31,  41, 100,  29,  42,
        26,  38,  33, 117,  98,  73, 200,  70,  32,  36,  77,  45,  66,
        74, 550,  47,  67,  44,  55,  65,  54,  34,  57,  52,  49,  62,
        51,  46,  48,  64,  93, 300,  90,  56,  43,  78,  75, 109, 400,
        85,  59])

In [7]:
df['sales_quantity'].min()

1

# Each store has around 400-500 SKUs, but it doesn't mean those SKUs are sold every day (e.g., in one day, there may exist only less than 400 SKUs in a store)

In [8]:
d = {i: df[df['store_id'] == i]['item_code'].unique().shape[0] for i in df['store_id'].unique()}
pd.DataFrame({'Store ID': list(d.keys()), 'Number of SKUs': list(d.values())})

    Store ID  Number of SKUs
0         46             489
1      13835             436
2       9591             503
3       2454             496
4      11579             368
5       3538             490
6       8031             500
7       2274             478
8       4080             481
9       3906             463
10      2434             501
11      3237             499
12      4446             491
13      1112             503
14     10679             528
15      4639             497
16      3863             484
17      8653             424
18      7969             457
19      1454             510
20       378             444
21      1474             484
22       109             493
23      3183             515
24      4457             474
25     10998             521
26      8107             490
27      1804             470
28      3793             507
29      3851             468
30      2886             480
31       292             446
32      1486             510
33      4396             445
34      8313             448
35      8193             485
36      8054             447
37      4868             482
38      4112             501
39      4460             498
40     10469             499
41      7763             471
42      3800             455
43      2995             429
44      3430             469
45      1531             480
46      3205             438
47      4428             514
48       117             494
49     13064             474
50      4805             430
51     13419             512
52      6757             510
53      7573             478
54      7610             476
55      2131             432
56     11965             511
57     12178             460
58      4796             497
59      8701             469
60      7858             504
61      8708             544
62      4405             504
63      7285             490
64       821             468
65      2512             526
66      3514             495
67      9842             440
68      3212             539
69     10192             448
70      1870             456
71       202             476
72      3660             498
73       131             523
74      2810             518
75      1895             516
76      2390             443
77     10403             510
78      2135             452
79     10622             527
80     13557             444
81      1180             457
82     10432             480
83      4404             500
84      1848             461
85      9973             499
86      4234             508
87      5569             479
88       207             459
89      2231             489
90      3889             467
91     13093             480
92     14058             411
93      4627             471
94      1867             437
95       852             495
96      2753             444
97      9317             406
98     14149             363
99     14348             336

In [9]:
# Select which store_id you want to check its missing SKU dates from this list
df['store_id'].unique()

array([   46, 13835,  9591,  2454, 11579,  3538,  8031,  2274,  4080,
        3906,  2434,  3237,  4446,  1112, 10679,  4639,  3863,  8653,
        7969,  1454,   378,  1474,   109,  3183,  4457, 10998,  8107,
        1804,  3793,  3851,  2886,   292,  1486,  4396,  8313,  8193,
        8054,  4868,  4112,  4460, 10469,  7763,  3800,  2995,  3430,
        1531,  3205,  4428,   117, 13064,  4805, 13419,  6757,  7573,
        7610,  2131, 11965, 12178,  4796,  8701,  7858,  8708,  4405,
        7285,   821,  2512,  3514,  9842,  3212, 10192,  1870,   202,
        3660,   131,  2810,  1895,  2390, 10403,  2135, 10622, 13557,
        1180, 10432,  4404,  1848,  9973,  4234,  5569,   207,  2231,
        3889, 13093, 14058,  4627,  1867,   852,  2753,  9317, 14149,
       14348])

# As an example, for store_id = 46, most of SKUs are missing 150-500 days.

The missing dates of a sku may come from zero sales or there is no such sku in their inventory, or the store cannot even order that SKU during the time.

In [10]:
store_id_list = [46] # As an example, we check store_id 46. 
{f'Store ID {i}': {f'Missing dates of SKU {sku_id}': calculate_num_missing_sales_date(df[(df['store_id']==i) & (df['item_code']==sku_id)]) for sku_id in df[df['store_id']==i]['item_code'].unique()} for i in store_id_list}

{'Store ID 46': {'Missing dates of SKU 1900016': 215,
  'Missing dates of SKU 3002624': 356,
  'Missing dates of SKU 6007478': 127,
  'Missing dates of SKU 2105240': 304,
  'Missing dates of SKU 300008': 8,
  'Missing dates of SKU 3002756': 40,
  'Missing dates of SKU 3000192': 451,
  'Missing dates of SKU 700032': 225,
  'Missing dates of SKU 700058': 61,
  'Missing dates of SKU 6000432': 331,
  'Missing dates of SKU 6000733': 161,
  'Missing dates of SKU 300070': 398,
  'Missing dates of SKU 1900020': 63,
  'Missing dates of SKU 6000307': 209,
  'Missing dates of SKU 6000500': 336,
  'Missing dates of SKU 3000133': 92,
  'Missing dates of SKU 2100246': 180,
  'Missing dates of SKU 3000128': 356,
  'Missing dates of SKU 6000251': 193,
  'Missing dates of SKU 6004229': 413,
  'Missing dates of SKU 6000615': 422,
  'Missing dates of SKU 6000317': 216,
  'Missing dates of SKU 300020': 381,
  'Missing dates of SKU 6000734': 184,
  'Missing dates of SKU 200043': 466,
  'Missing dates of SKU 2200044': 267,
  'Missing dates of SKU 200078': 144,
  'Missing dates of SKU 3100002': 140,
  'Missing dates of SKU 3003322': 152,
  'Missing dates of SKU 700074': 289,
  'Missing dates of SKU 3000045': 313,
  'Missing dates of SKU 300079': 355,
  'Missing dates of SKU 3000022': 170,
  'Missing dates of SKU 200019': 327,
  'Missing dates of SKU 1900085': 180,
  'Missing dates of SKU 3000027': 340,
  'Missing dates of SKU 6000820': 162,
  'Missing dates of SKU 1900040': 331,
  'Missing dates of SKU 3002762': 428,
  'Missing dates of SKU 6001609': 336,
  'Missing dates of SKU 100083': 101,
  'Missing dates of SKU 200160': 272,
  'Missing dates of SKU 1900002': 102,
  'Missing dates of SKU 300167': 36,
  'Missing dates of SKU 200086': 210,
  'Missing dates of SKU 6000149': 463,
  'Missing dates of SKU 2109037': 285,
  'Missing dates of SKU 2109054': 192,
  'Missing dates of SKU 2200024': 334,
  'Missing dates of SKU 6001464': 337,
  'Missing dates of SKU 2100103': 388,
  'Missing dates of SKU 2100268': 462,
  'Missing dates of SKU 200044': 360,
  'Missing dates of SKU 3000066': 279,
  'Missing dates of SKU 3002623': 118,
  'Missing dates of SKU 1900044': 202,
  'Missing dates of SKU 3003328': 125,
  'Missing dates of SKU 3000099': 184,
  'Missing dates of SKU 3000131': 292,
  'Missing dates of SKU 3000269': 331,
  'Missing dates of SKU 800100': 71,
  'Missing dates of SKU 3000030': 171,
  'Missing dates of SKU 3000021': 222,
  'Missing dates of SKU 2200032': 302,
  'Missing dates of SKU 3000143': 515,
  'Missing dates of SKU 1900023': 47,
  'Missing dates of SKU 1900046': 188,
  'Missing dates of SKU 800006': 289,
  'Missing dates of SKU 700020': 2,
  'Missing dates of SKU 3000025': 299,
  'Missing dates of SKU 6000725': 107,
  'Missing dates of SKU 3000040': 355,
  'Missing dates of SKU 200085': 410,
  'Missing dates of SKU 3000071': 265,
  'Missing dates of SKU 2200002': 249,
  'Missing dates of SKU 6000478': 121,
  'Missing dates of SKU 3002764': 110,
  'Missing dates of SKU 6000245': 251,
  'Missing dates of SKU 3001317': 435,
  'Missing dates of SKU 2200003': 336,
  'Missing dates of SKU 6000474': 110,
  'Missing dates of SKU 3001305': 357,
  'Missing dates of SKU 6000159': 184,
  'Missing dates of SKU 6000541': 136,
  'Missing dates of SKU 3000152': 338,
  'Missing dates of SKU 1900006': 182,
  'Missing dates of SKU 3100034': 249,
  'Missing dates of SKU 200031': 184,
  'Missing dates of SKU 2105251': 40,
  'Missing dates of SKU 2100063': 290,
  'Missing dates of SKU 3000085': 335,
  'Missing dates of SKU 3000080': 112,
  'Missing dates of SKU 6000283': 334,
  'Missing dates of SKU 1900094': 163,
  'Missing dates of SKU 3000312': 487,
  'Missing dates of SKU 300068': 265,
  'Missing dates of SKU 200060': 125,
  'Missing dates of SKU 200121': 88,
  'Missing dates of SKU 700021': 96,
  'Missing dates of SKU 3000318': 429,
  'Missing dates of SKU 6001463': 380,
  'Missing dates of SKU 1900019': 189,
  'Missing dates of SKU 200013': 30,
  'Missing dates of SKU 3001313': 303,
  'Missing dates of SKU 2100274': 450,
  'Missing dates of SKU 2109722': 68,
  'Missing dates of SKU 6000778': 368,
  'Missing dates of SKU 3003321': 428,
  'Missing dates of SKU 2200048': 345,
  'Missing dates of SKU 3001302': 287,
  'Missing dates of SKU 3000020': 277,
  'Missing dates of SKU 300015': 421,
  'Missing dates of SKU 3001242': 336,
  'Missing dates of SKU 2100199': 288,
  'Missing dates of SKU 1900022': 302,
  'Missing dates of SKU 6000818': 175,
  'Missing dates of SKU 3002622': 398,
  'Missing dates of SKU 200022': 128,
  'Missing dates of SKU 6001329': 319,
  'Missing dates of SKU 3000186': 398,
  'Missing dates of SKU 3000101': 446,
  'Missing dates of SKU 3000219': 45,
  'Missing dates of SKU 3000311': 384,
  'Missing dates of SKU 2100245': 327,
  'Missing dates of SKU 800027': 245,
  'Missing dates of SKU 3001312': 393,
  'Missing dates of SKU 6000051': 405,
  'Missing dates of SKU 3000068': 212,
  'Missing dates of SKU 200178': 467,
  'Missing dates of SKU 3000146': 494,
  'Missing dates of SKU 2200012': 352,
  'Missing dates of SKU 3000234': 462,
  'Missing dates of SKU 300012': 301,
  'Missing dates of SKU 800134': 405,
  'Missing dates of SKU 3000129': 437,
  'Missing dates of SKU 3100003': 60,
  'Missing dates of SKU 3001244': 246,
  'Missing dates of SKU 3001325': 373,
  'Missing dates of SKU 6001607': 276,
  'Missing dates of SKU 200040': 472,
  'Missing dates of SKU 3000244': 555,
  'Missing dates of SKU 200005': 243,
  'Missing dates of SKU 3000187': 372,
  'Missing dates of SKU 200192': 416,
  'Missing dates of SKU 6007051': 381,
  'Missing dates of SKU 6004407': 239,
  'Missing dates of SKU 3000053': 496,
  'Missing dates of SKU 200002': 285,
  'Missing dates of SKU 3000106': 422,
  'Missing dates of SKU 6000454': 353,
  'Missing dates of SKU 3000300': 422,
  'Missing dates of SKU 3000098': 324,
  'Missing dates of SKU 6000035': 397,
  'Missing dates of SKU 300115': 516,
  'Missing dates of SKU 6000242': 383,
  'Missing dates of SKU 100002': 354,
  'Missing dates of SKU 3000023': 331,
  'Missing dates of SKU 700099': 265,
  'Missing dates of SKU 3000093': 332,
  'Missing dates of SKU 6001309': 296,
  'Missing dates of SKU 6007471': 372,
  'Missing dates of SKU 2100291': 169,
  'Missing dates of SKU 3001215': 348,
  'Missing dates of SKU 200061': 368,
  'Missing dates of SKU 3000001': 370,
  'Missing dates of SKU 3000150': 409,
  'Missing dates of SKU 3003324': 372,
  'Missing dates of SKU 3000043': 393,
  'Missing dates of SKU 800017': 286,
  'Missing dates of SKU 1900079': 225,
  'Missing dates of SKU 200120': 323,
  'Missing dates of SKU 300024': 411,
  'Missing dates of SKU 300009': 440,
  'Missing dates of SKU 3002758': 337,
  'Missing dates of SKU 2105250': 367,
  'Missing dates of SKU 3000112': 353,
  'Missing dates of SKU 6000673': 401,
  'Missing dates of SKU 300034': 479,
  'Missing dates of SKU 300126': 352,
  'Missing dates of SKU 200172': 279,
  'Missing dates of SKU 200126': 319,
  'Missing dates of SKU 3000304': 166,
  'Missing dates of SKU 200191': 398,
  'Missing dates of SKU 3003323': 150,
  'Missing dates of SKU 3000004': 248,
  'Missing dates of SKU 200185': 239,
  'Missing dates of SKU 100047': 348,
  'Missing dates of SKU 3000038': 437,
  'Missing dates of SKU 6000094': 269,
  'Missing dates of SKU 2200027': 375,
  'Missing dates of SKU 300123': 456,
  'Missing dates of SKU 6000107': 333,
  'Missing dates of SKU 6000582': 312,
  'Missing dates of SKU 200006': 362,
  'Missing dates of SKU 3000240': 357,
  'Missing dates of SKU 800026': 149,
  'Missing dates of SKU 3000109': 455,
  'Missing dates of SKU 3001304': 266,
  'Missing dates of SKU 300145': 549,
  'Missing dates of SKU 2200025': 318,
  'Missing dates of SKU 6000508': 205,
  'Missing dates of SKU 100013': 470,
  'Missing dates of SKU 3001318': 315,
  'Missing dates of SKU 800030': 386,
  'Missing dates of SKU 3000062': 362,
  'Missing dates of SKU 300088': 335,
  'Missing dates of SKU 100012': 396,
  'Missing dates of SKU 800131': 471,
  'Missing dates of SKU 2100281': 122,
  'Missing dates of SKU 2100241': 304,
  'Missing dates of SKU 2200006': 213,
  'Missing dates of SKU 6000359': 418,
  'Missing dates of SKU 6000427': 456,
  'Missing dates of SKU 6004221': 446,
  'Missing dates of SKU 700054': 247,
  'Missing dates of SKU 6000479': 277,
  'Missing dates of SKU 3000314': 393,
  'Missing dates of SKU 3002755': 305,
  'Missing dates of SKU 3000285': 396,
  'Missing dates of SKU 3000087': 376,
  'Missing dates of SKU 200017': 329,
  'Missing dates of SKU 3002601': 444,
  'Missing dates of SKU 3002602': 457,
  'Missing dates of SKU 300183': 350,
  'Missing dates of SKU 3000017': 368,
  'Missing dates of SKU 6000006': 260,
  'Missing dates of SKU 1900101': 200,
  'Missing dates of SKU 3000111': 148,
  'Missing dates of SKU 3000217': 370,
  'Missing dates of SKU 300026': 316,
  'Missing dates of SKU 100079': 642,
  'Missing dates of SKU 200156': 338,
  'Missing dates of SKU 6002072': 569,
  'Missing dates of SKU 1900058': 193,
  'Missing dates of SKU 6000668': 237,
  'Missing dates of SKU 2100225': 371,
  'Missing dates of SKU 200046': 452,
  'Missing dates of SKU 6004457': 352,
  'Missing dates of SKU 3000044': 375,
  'Missing dates of SKU 3001303': 354,
  'Missing dates of SKU 3000291': 587,
  'Missing dates of SKU 3000238': 427,
  'Missing dates of SKU 6000657': 602,
  'Missing dates of SKU 200007': 80,
  'Missing dates of SKU 2109723': 209,
  'Missing dates of SKU 800136': 16,
  'Missing dates of SKU 1900024': 385,
  'Missing dates of SKU 300027': 386,
  'Missing dates of SKU 2100185': 318,
  'Missing dates of SKU 3000276': 576,
  'Missing dates of SKU 2100066': 281,
  'Missing dates of SKU 3000327': 366,
  'Missing dates of SKU 3000123': 325,
  'Missing dates of SKU 300180': 174,
  'Missing dates of SKU 3100030': 275,
  'Missing dates of SKU 3001203': 297,
  'Missing dates of SKU 6100058': 459,
  'Missing dates of SKU 3000092': 496,
  'Missing dates of SKU 2100168': 388,
  'Missing dates of SKU 6000271': 220,
  'Missing dates of SKU 6000029': 450,
  'Missing dates of SKU 3000013': 276,
  'Missing dates of SKU 300173': 324,
  'Missing dates of SKU 2105243': 329,
  'Missing dates of SKU 1900029': 246,
  'Missing dates of SKU 3000016': 484,
  'Missing dates of SKU 300164': 111,
  'Missing dates of SKU 3001202': 311,
  'Missing dates of SKU 6000719': 482,
  'Missing dates of SKU 3000132': 387,
  'Missing dates of SKU 300038': 444,
  'Missing dates of SKU 3002603': 391,
  'Missing dates of SKU 300010': 406,
  'Missing dates of SKU 3000208': 420,
  'Missing dates of SKU 2100509': 84,
  'Missing dates of SKU 1900015': 325,
  'Missing dates of SKU 3100041': 253,
  'Missing dates of SKU 6000817': 112,
  'Missing dates of SKU 6000682': 512,
  'Missing dates of SKU 6000790': 390,
  'Missing dates of SKU 700005': 468,
  'Missing dates of SKU 800023': 314,
  'Missing dates of SKU 3000119': 411,
  'Missing dates of SKU 300146': 0,
  'Missing dates of SKU 1900071': 406,
  'Missing dates of SKU 2100249': 348,
  'Missing dates of SKU 300168': 139,
  'Missing dates of SKU 300081': 139,
  'Missing dates of SKU 3002621': 415,
  'Missing dates of SKU 700071': 138,
  'Missing dates of SKU 3000317': 530,
  'Missing dates of SKU 300187': 23,
  'Missing dates of SKU 6000866': 99,
  'Missing dates of SKU 2100215': 312,
  'Missing dates of SKU 3100047': 12,
  'Missing dates of SKU 200214': 267,
  'Missing dates of SKU 3100006': 203,
  'Missing dates of SKU 3000337': 312,
  'Missing dates of SKU 6000860': 231,
  'Missing dates of SKU 300206': 69,
  'Missing dates of SKU 3000333': 258,
  'Missing dates of SKU 3000331': 309,
  'Missing dates of SKU 3000346': 197,
  'Missing dates of SKU 300184': 401,
  'Missing dates of SKU 200228': 103,
  'Missing dates of SKU 6000880': 238,
  'Missing dates of SKU 100104': 312,
  'Missing dates of SKU 6000923': 133,
  'Missing dates of SKU 3000058': 472,
  'Missing dates of SKU 3000378': 84,
  'Missing dates of SKU 300224': 120,
  'Missing dates of SKU 3000162': 508,
  'Missing dates of SKU 200041': 595,
  'Missing dates of SKU 100001': 149,
  'Missing dates of SKU 3000220': 515,
  'Missing dates of SKU 2200063': 123,
  'Missing dates of SKU 6100073': 226,
  'Missing dates of SKU 300259': 200,
  'Missing dates of SKU 200205': 389,
  'Missing dates of SKU 300227': 217,
  'Missing dates of SKU 700086': 260,
  'Missing dates of SKU 300223': 37,
  'Missing dates of SKU 3000086': 490,
  'Missing dates of SKU 2100306': 32,
  'Missing dates of SKU 2100307': 40,
  'Missing dates of SKU 3100005': 58,
  'Missing dates of SKU 2100313': 38,
  'Missing dates of SKU 200068': 293,
  'Missing dates of SKU 6000935': 189,
  'Missing dates of SKU 100116': 82,
  'Missing dates of SKU 6000957': 81,
  'Missing dates of SKU 3000362': 206,
  'Missing dates of SKU 3000334': 183,
  'Missing dates of SKU 6000658': 618,
  'Missing dates of SKU 300186': 141,
  'Missing dates of SKU 6100015': 0,
  'Missing dates of SKU 200012': 550,
  'Missing dates of SKU 300175': 327,
  'Missing dates of SKU 300240': 144,
  'Missing dates of SKU 6000650': 194,
  'Missing dates of SKU 6000652': 259,
  'Missing dates of SKU 300025': 99,
  'Missing dates of SKU 3100019': 77,
  'Missing dates of SKU 300252': 30,
  'Missing dates of SKU 300257': 145,
  'Missing dates of SKU 300247': 43,
  'Missing dates of SKU 300254': 173,
  'Missing dates of SKU 800152': 179,
  'Missing dates of SKU 6000659': 629,
  'Missing dates of SKU 800154': 51,
  'Missing dates of SKU 300225': 222,
  'Missing dates of SKU 1900063': 11,
  'Missing dates of SKU 200175': 26,
  'Missing dates of SKU 3000275': 512,
  'Missing dates of SKU 2100290': 421,
  'Missing dates of SKU 200224': 87,
  'Missing dates of SKU 2100299': 321,
  'Missing dates of SKU 1900009': 1,
  'Missing dates of SKU 300191': 310,
  'Missing dates of SKU 100107': 62,
  'Missing dates of SKU 3003105': 528,
  'Missing dates of SKU 3000379': 167,
  'Missing dates of SKU 3000383': 130,
  'Missing dates of SKU 3000384': 156,
  'Missing dates of SKU 2100301': 88,
  'Missing dates of SKU 300246': 31,
  'Missing dates of SKU 200246': 56,
  'Missing dates of SKU 2200050': 120,
  'Missing dates of SKU 700128': 57,
  'Missing dates of SKU 300014': 0,
  'Missing dates of SKU 300226': 17,
  'Missing dates of SKU 800153': 23,
  'Missing dates of SKU 6000939': 121,
  'Missing dates of SKU 3100058': 52,
  'Missing dates of SKU 300264': 21,
  'Missing dates of SKU 200127': 0,
  'Missing dates of SKU 3000386': 119,
  'Missing dates of SKU 3000381': 145,
  'Missing dates of SKU 200221': 231,
  'Missing dates of SKU 3000413': 40,
  'Missing dates of SKU 3000221': 135,
  'Missing dates of SKU 3000404': 22,
  'Missing dates of SKU 6000973': 47,
  'Missing dates of SKU 700145': 18,
  'Missing dates of SKU 2100333': 7,
  'Missing dates of SKU 3000402': 15,
  'Missing dates of SKU 800170': 31,
  'Missing dates of SKU 300281': 97,
  'Missing dates of SKU 3000321': 533,
  'Missing dates of SKU 3000380': 101,
  'Missing dates of SKU 3000130': 536,
  'Missing dates of SKU 200263': 52,
  'Missing dates of SKU 300282': 86,
  'Missing dates of SKU 6000651': 281,
  'Missing dates of SKU 1900126': 0,
  'Missing dates of SKU 3000391': 147,
  'Missing dates of SKU 200252': 136,
  'Missing dates of SKU 100017': 557,
  'Missing dates of SKU 300284': 18,
  'Missing dates of SKU 200130': 349,
  'Missing dates of SKU 2100239': 112,
  'Missing dates of SKU 3000412': 77,
  'Missing dates of SKU 300255': 118,
  'Missing dates of SKU 300299': 47,
  'Missing dates of SKU 300158': 204,
  'Missing dates of SKU 6001002': 1,
  'Missing dates of SKU 3000400': 33,
  'Missing dates of SKU 3000065': 0,
  'Missing dates of SKU 300283': 51,
  'Missing dates of SKU 3000398': 41,
  'Missing dates of SKU 2100334': 3,
  'Missing dates of SKU 300279': 37,
  'Missing dates of SKU 3100056': 20,
  'Missing dates of SKU 2200046': 348,
  'Missing dates of SKU 300185': 179,
  'Missing dates of SKU 2100318': 99,
  'Missing dates of SKU 100136': 22,
  'Missing dates of SKU 300177': 212,
  'Missing dates of SKU 800101': 52,
  'Missing dates of SKU 3000151': 418,
  'Missing dates of SKU 200082': 7,
  'Missing dates of SKU 200133': 117,
  'Missing dates of SKU 300273': 55,
  'Missing dates of SKU 200004': 9,
  'Missing dates of SKU 3000320': 7,
  'Missing dates of SKU 100014': 224,
  'Missing dates of SKU 100102': 10,
  'Missing dates of SKU 3000340': 4,
  'Missing dates of SKU 300251': 17,
  'Missing dates of SKU 6000656': 63,
  'Missing dates of SKU 200233': 178,
  'Missing dates of SKU 300245': 182,
  'Missing dates of SKU 200250': 102,
  'Missing dates of SKU 300298': 62,
  'Missing dates of SKU 300303': 12,
  'Missing dates of SKU 3000235': 124,
  'Missing dates of SKU 3000419': 29,
  'Missing dates of SKU 300149': 360,
  'Missing dates of SKU 300125': 138,
  'Missing dates of SKU 2100090': 2,
  'Missing dates of SKU 2100128': 348,
  'Missing dates of SKU 200064': 1,
  'Missing dates of SKU 800174': 9,
  'Missing dates of SKU 300174': 31,
  'Missing dates of SKU 6000653': 273,
  'Missing dates of SKU 800173': 0,
  'Missing dates of SKU 3000414': 26,
  'Missing dates of SKU 200272': 9,
  'Missing dates of SKU 300098': 30,
  'Missing dates of SKU 6000654': 252,
  'Missing dates of SKU 300144': 11,
  'Missing dates of SKU 300248': 17,
  'Missing dates of SKU 2100335': 2,
  'Missing dates of SKU 6000655': 238,
  'Missing dates of SKU 200110': 56,
  'Missing dates of SKU 300262': 22,
  'Missing dates of SKU 200259': 13,
  'Missing dates of SKU 300166': 108,
  'Missing dates of SKU 6100055': 0,
  'Missing dates of SKU 3100004': 17,
  'Missing dates of SKU 2100317': 105,
  'Missing dates of SKU 100145': 19,
  'Missing dates of SKU 800169': 49,
  'Missing dates of SKU 200265': 36,
  'Missing dates of SKU 3000018': 96,
  'Missing dates of SKU 300163': 24,
  'Missing dates of SKU 300278': 55,
  'Missing dates of SKU 300312': 9,
  'Missing dates of SKU 6000477': 0,
  'Missing dates of SKU 6100054': 0,
  'Missing dates of SKU 3000254': 14,
  'Missing dates of SKU 6000661': 0,
  'Missing dates of SKU 3000399': 38,
  'Missing dates of SKU 100146': 16,
  'Missing dates of SKU 3000084': 0,
  'Missing dates of SKU 300242': 0,
  'Missing dates of SKU 6000663': 0,
  'Missing dates of SKU 100135': 0,
  'Missing dates of SKU 3000403': 8,
  'Missing dates of SKU 6101567': 0,
  'Missing dates of SKU 3100057': 0,
  'Missing dates of SKU 3000344': 0,
  'Missing dates of SKU 1900034': 0,
  'Missing dates of SKU 200109': 8,
  'Missing dates of SKU 300091': 0,
  'Missing dates of SKU 300304': 0,
  'Missing dates of SKU 300159': 0,
  'Missing dates of SKU 6101518': 0,
  'Missing dates of SKU 3000290': 0}}